<div class="container">
    <!-- data flows out using event binding/ chield to parent  -->
    <app-blueprint-server
     (serverCreated) = "onServerAdded($event)"
     (blueprintCreated) = "onBlueprintAdded($event)"
    ></app-blueprint-server>
  <br>
  <div class="row">
    <div class="col-xs-12">
    <br>
        <button class="btn btn-primary" (click) = "onChangeFirt()">Change first element</button>
        <button class="btn btn-danger" (click) ="onDestroy()">Destroy first component</button>
        <!-- data flows in using property binding / parent  to chield  -->
        <app-add-server
            *ngFor = "let serverElement of serverElements"
            [srvElement] = "serverElement"
            [name] = "serverElement.name"
        >
          <p #contentParagragh>
            <strong *ngIf = "serverElement.type=== 'server'" style>{{ serverElement.content }}</strong>
            <em *ngIf = "serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-add-server>
        <br>

    </div>
  </div>
</div>
